@tailwind base;
@tailwind components;
@tailwind utilities;

*,html {
    scroll-behavior: smooth !important;
    color-scheme: dark;
}

body {
    @apply bg-gray-950;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Dark mode scrollbar styling */
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #1a1a1a; /* Dark background for the track */
}

body::-webkit-scrollbar-thumb {
    background: #444; /* Darker thumb */
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #555; /* Slightly lighter on hover */
}


.dot-matrix-bg{
    /*background: radial-gradient(*/
    /*        rgba(255, 255, 255, 0.1) 8%,*/
    /*        transparent 8%*/
    /*) 0% 0;*/
    /*background-size: 3vmin 3vmin;*/
    background: radial-gradient(
            rgba(255, 255, 255, 0.10) 8%,
            transparent 8%
    ) 0% 0;
    background-size: 3vmin 3vmin;
    transition: background 0.1s ease-out;
}


.triangle{
    @apply absolute;
    width: 0;
    height: 0;
    --a: 7em;
    border-bottom: calc(0.866 * var(--a)) solid #fff;
    border-left: calc(var(--a) / 2) solid transparent;
    border-right: calc(var(--a) / 2) solid transparent;
}