.header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    background-color: #000000;
    border-bottom: 1px solid #444444;
}

.header-element {
    @apply mr-5 ml-5;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.header-text {
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
}

.header-icon {
    @apply mr-2 ml-2;
}
